#!/bin/bash
# Created by Topology-Converter v{{ version }}
#    Template Revision: v4.7.1

function error() {
  echo -e "\e[0;33mERROR: The Zero Touch Provisioning script failed while running the command $BASH_COMMAND at line $BASH_LINENO.\e[0m" >&2
}
trap error ERR

SSH_URL="http://{{ devices[0].mgmt_ip }}/authorized_keys"
#Setup SSH key authentication for Ansible
mkdir -p /home/cumulus/.ssh
wget -O /home/cumulus/.ssh/authorized_keys $SSH_URL
sed -i '/iface eth0/a \ vrf mgmt' /etc/network/interfaces
cat <<EOT >> /etc/network/interfaces
auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto
EOT

echo "cumulus ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/10_cumulus

# purge netq 1.4
sudo apt -y purge cumulus-netq netq-agent netq-apps python-netq-lib

echo "deb http://apps3.cumulusnetworks.com/repos/deb CumulusLinux-3 netq-2.3" > /etc/apt/sources.list.d/netq.list
apt-get update -qy

apt-get install ntpdate cumulus-netq -qy

netq config add agent server 192.168.200.250 vrf mgmt
netq config restart agent

# Move NTP to mgmt VRF
systemctl stop ntp.service
systemctl disable ntp.service
systemctl enable ntp@mgmt
systemctl start ntp@mgmt  

reboot
exit 0
#CUMULUS-AUTOPROVISIONING
